@media (max-width: 768px) {
    #sidebar {
      left: -250px; /* Sidebar disembunyikan pada mobile */
    }
  
    #sidebar.collapsed {
      left: 0; /* Sidebar akan muncul saat toggle di klik */
    }
  
    .sidebar-content {
      padding: 10px;
    }
  
    .header {
      padding: 10px; /* Agar header tidak terlalu tinggi */
    }
  }
  